*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/aws.properties
/keystore.jks
/keystore.properties
/octopus.properties
/publishing.properties
/publishing.gpg
